<h2>Registered Avngrs</h2>
<a href="/" (click)='logOut()'>Log out</a>
<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Name</th>
      <th class="text-right">Number of movies</th>
      <th class="text-right">Last movie release date</th>
      <th>Friendly</th>
    </tr>
    <tr *ngFor="let avenger of avengers">
      <td>
        <a [routerLink]="['/admin/view', avenger.id]" >{{avenger.name}}</a>
      </td>
      <td>
        {{avenger.numberOfMovies}}
      </td>
      <td class="text-right">
        {{avenger.lastMovieReleaseDate}}
      </td>
      <td>
        {{avenger.friendly}}
      </td>
    </tr>
  </table>
</div>
<hr/>