<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th class="text-right">Number of movies</th>
      <th class="text-right">Last movie release date</th>
      <th>Friendly</th>
    </tr>
    <tr *ngFor="let avenger of avengers">
      <td>
        {{avenger.id}}
      </td>
      <td>
        {{avenger.name}}
      </td>
      <td>
        {{avenger.numberOfMovies}}
      </td>
      <td class="text-right">
        {{avenger.lastMovieReleaseDate}}
      </td>
      <td>
        {{avenger.friendly}}
      </td>
    </tr>
  </table>
</div>